List((
    texture_width: 120,
    texture_height: 26,
    sprites: [(
    x: 0,
    y: 0,
    width: 24,
    height: 23
),
(
    x: 24,
    y: 0,
    width: 24,
    height: 26
),
(
    x: 48,
    y: 0,
    width: 24,
    height: 26
),
(
    x: 72,
    y: 0,
    width: 24,
    height: 25
),
(
    x: 96,
    y: 0,
    width: 24,
    height: 25
)]            
))