(
  axes: {
    "rotate": Emulated(pos: Key(D), neg: Key(A)),
    "throttle": Emulated(pos: Key(W), neg: Key(S)),
    "sidethrottle": Emulated(pos: Key(E), neg: Key(Q)),
    "zoom": MouseWheel(horizontal: false),
  },
  actions: {},
)